/**
 * Theme default
 */

:root {
    --wi-default-bg-color: #21252b;
    --wi-default-bg2-color: #2b2e36;
    --wi-default-bg3-color: #2c323c;
    --wi-default-bg4-color: #4A4A4A;
    --wi-default-border: 1px solid #000;
    --wi-default-border-color: #000;
    --wi-default-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.06) inset;
    --wi-default-box-shadow-outset: 0 1px 0 0 rgba(255, 255, 255, 0.06);
    --wi-default-color: #dbdbdb;
    --wi-default-color2: #999999;
    --wi-default-font-family: Tahoma, Arial;
    --wi-default-border-radius: 3px;
    --wi-default-text-shadow: 0px 1px 0px #2c2c2c;
    --wi-default-bg-color-featured: #4d78cc;
    --wi-default-color-featured: #fff;
}

::-webkit-scrollbar {
    background: none;
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-thumb {
    border: solid 0 rgba(0, 0, 0, 0);
    border-right-width: 4px;
    border-left-width: 4px;
    -webkit-border-radius: 9px 4px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.2), inset 0 0 0 4px rgba(128, 128, 128, 0.2);
}

::-webkit-scrollbar-track-piece {
    margin: 4px 0;
}

::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 4px;
    border-bottom-width: 4px;
    -webkit-border-radius: 4px 9px;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.9), inset 0 0 0 4px rgba(128, 128, 128, 0.9);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body{
    background-color: var(--wi-default-bg-color);
    font-family: var(--wi-default-font-family);
    color: var(--wi-default-color);
    overflow: hidden;
}

body *{
    outline: none !important;
}

/**
 * Buttons
 */
.wi-btn-default{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #494950 0%, #646468 100%);
    background-image: -webkit-linear-gradient(bottom, #494950 0%, #646468 100%);
    background-image: -o-linear-gradient(bottom, #494950 0%, #646468 100%);
    background-image: linear-gradient(bottom, #494950 0%, #646468 100%);
    border-radius: 3px;
    text-shadow: #383838 0px 1px 0px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0px 3px 0 #000000;
    line-height: 16px;
    position: relative;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: none;
    padding: 3px 18px 4px;
    border-radius: 3px;
    text-align: center;
}

.wi-btn{
    border: var(--wi-default-border);
    box-shadow: var(--wi-default-box-shadow-outset), var(--wi-default-box-shadow);
    border-radius: var(--wi-default-border-radius);
    background-color: var(--wi-default-bg-color);
    color: var(--wi-default-color);
}

.wi-btn:hover{
    background-color: var(--wi-default-bg3-color);
}

.wi-tabs-list-item-close:hover{
    background: var(--wi-default-bg-color-featured);
    color: var(--wi-default-color-featured);
}

/* 
 * Fancytree
 * @see https://github.com/mar10/fancytree/wiki/TutorialTheming
 */
ul.fancytree-container {
    font-family: tahoma, arial, helvetica;
    font-size: 10pt;
    background-color: var(--wi-default-bg2-color);
    border: none;
    overflow: hidden;
}

ul.fancytree-container li{
    margin-bottom: 3px;
    margin-top: 3px
}

span.fancytree-title{
    color: var(--wi-default-color);
}

span.fancytree-title input{
    height: 10px;
}

.fancytree-plain span.fancytree-title {
    border: 1px solid transparent;
}
.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-focused span.fancytree-title {
    background-color: var(--wi-default-bg2-color);
}
.fancytree-plain span.fancytree-active span.fancytree-title,
.fancytree-plain span.fancytree-selected span.fancytree-title {
    background-color: var(--wi-default-bg2-color);
    border: 1px solid transparent;
}
.fancytree-plain span.fancytree-node span.fancytree-selected span.fancytree-title {
    font-style: italic;
}
.fancytree-plain span.fancytree-node:hover span.fancytree-title {
    background-color: var(--wi-default-bg2-color);
    border: 1px solid transparent;
}
.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-active span.fancytree-title,
.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-selected span.fancytree-title {
    background-color: var(--wi-default-bg-color-featured);
    color: var(--wi-default-color-featured);
    border-radius: var(--wi-default-border-radius);
    border: 1px solid transparent;
}

/* 
 * Tooltipster 
 * @see http://iamceege.github.io/tooltipster/#styling
 */
.tooltipster-sidetip.tooltipster-punk .tooltipster-box {
    border-radius: 5px; 
    border: none;
    background: var(--wi-default-bg-color-featured);
    color: var(--wi-default-color-featured);
    font-size: 12px;
}

.tooltipster-sidetip.tooltipster-punk.tooltipster-top .tooltipster-box {
    margin-bottom: 7px;
}

.tooltipster-sidetip.tooltipster-punk .tooltipster-content {
    color: white;
    padding: 8px 16px;
}

.tooltipster-sidetip.tooltipster-punk .tooltipster-arrow-background {
    display: none;
}

.tooltipster-sidetip.tooltipster-punk.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: var(--wi-default-bg-color-featured);
}

.tooltipster-sidetip.tooltipster-punk.tooltipster-left .tooltipster-arrow-border {
    border-left-color: var(--wi-default-bg-color-featured);
}

.tooltipster-sidetip.tooltipster-punk.tooltipster-right .tooltipster-arrow-border {
    border-right-color: var(--wi-default-bg-color-featured);
}

.tooltipster-sidetip.tooltipster-punk.tooltipster-top .tooltipster-arrow-border {
    border-top-color: var(--wi-default-bg-color-featured);
}

/**
 * Git status
 */
.git-new, .git-new span.fancytree-title{
    color: #53ef53;
}

.git-modified, .git-modified span.fancytree-title{
    color: #8484ff;
}

.git-ignored, .git-ignored span.fancytree-title{
    color: #a5a5a5;
}